:root {
  --pri-color: #64F58D;
  --pri-h-color: #19F056;
  --sec-color: #F61067;
  --bg-color: #25252D;
  --bgl-color: #373743;
  --txt-color: #F4F4F6;
  --txtl-color: #DDDDE3;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--txt-color);
}